@import '../../shared/variables';

.sidebar-list-header{
  color: $color-orange-dark;
  font-size : $font-size-header;
  line-height: 28px;
  display: none;
  vertical-align: middle;

  @include respond-to('xsmall'){
    display: inline-block;
  }
}
.sidebar-list-icon{
  display:  inline-block;
  font-size: 28px;
  height: 28px;
  cursor: pointer;
  vertical-align: middle;
  .glyphicon{
    top: -2px;
  }

  @include respond-to('xsmall'){
    display: none;
  }
}
.list-group{
  &-categories{
    display: none;
    margin-top: 3px;

    &-item{
      &:hover{
        cursor: pointer;
        color: $color-orange;
      }
    }
    &-show{
      display: block;
    }
    @include respond-to('xsmall'){
      display: block;
    }
  }
}
