<table border="1">
  <thead>
  <tr>
    <th *ngFor="let tableHeader of tableData.headers">{{tableHeader}}</th>
    <th *ngIf="tableData.actions.length>0">Actions</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dataRow of tableData.dataRows">
      <td *ngFor="let dataColumn of dataRow.rowColumns">
        {{dataColumn}}
      </td>
      <td *ngIf="tableData.actions.length>0">
        <div *ngFor="let actionItem of tableData.actions" (click)="actionItemClick(actionItem,!!dataRow.rowId2 ? dataRow.rowId2 : dataRow.rowId,dataRow.title)" class="action-label">
          {{actionItem | uppercase}}
        </div>
      </td>
    </tr>
  </tbody>
</table>
