<table border="1">
  <thead>
  <tr>
    <th *ngFor="let tableHeader of tableData.headers">{{tableHeader}}</th>
    <th *ngIf="tableData.actions.length>0">Actions</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dataRow of tableData.dataRows">
      <td *ngFor="let dataColumn of dataRow.rowColumns">
        {{dataColumn}}
      </td>
      <td *ngIf="tableData.actions.length>0">
        <!--<div class="action-label" [routerLink]="['/categoriesAdmin/create', 'edit']"> edit </div>-->
        <!--<div class="action-label" (click)="deleteModal( )"> remove </div>-->

        <div *ngFor="let actionItem of tableData.actions"
             class="action-label"
             (click)="actionItemClick(actionItem,!!dataRow.rowId2 ? dataRow.rowId2 : dataRow.rowId,dataRow.title)">
        {{actionItem | uppercase}}
        </div>
        <!--//operator w funkcji. fuj-->
        <!--//przerost formy nad trescia. Kod zupełnie nieczytelny, do wywalenia.-->
      </td>
    </tr>
  </tbody>
</table>
