<div class="product-edit col-xs-12">
    <h3>Edit product</h3>
    <form name="productEditForm" novalidate>
        <label>Title</label>
        <input type="text" name="productTitle" [(ngModel)]="productDetails.title">
        <label>Description</label>
        <textarea rows="6" name="productDescription" [(ngModel)]="productDetails.description"></textarea>
        <label>Category</label>
        <select name="productCategory" [(ngModel)]="productDetails.category">
            <option *ngFor="let listItem of categoryList | keys" [ngValue]="listItem.key">{{listItem.value.title}}</option>
        </select>
        <button class="btn btn-first" type="button" (click)="save()">Save</button>
        <button class="btn btn-third" (click)="goBack()">Cancel</button>
    </form>
</div>
