@import '../../shared/variables';
@import '../../styles/pgs-bootstrap/pgs-bootstrap';

.logo-wrapper {
  font-size: $font-size-header;
}

.container {
}

header {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  background: #fff;
  border-bottom: solid 1px $color-gray;
}

.MainContent {
  margin-top: 90px;
  padding-bottom: 40px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  border-top: 1px solid $color-gray;
  background-color: #fff;
  color: $color-orange;
}

footer .copyright {
  margin: 0;
  padding: 10px 0;

}
