<header>
  <div class="container">
    <div class="row">
      <button class='btn btn-menu-mobile' (click)="toggleMenu()"><b>Menu</b></button>
      <div class="logo-wrapper" [routerLink]="['/']">
        <img src="assets/pgs-logo.png" />
        Framapp
      </div>
      <div class="pull-right">
        <button class="btn btn-first" (click)="authService.login()"
                *ngIf="!isAuthenticated">Login</button>
        <button class="btn btn-first" (click)="authService.logout()"
                *ngIf="isAuthenticated">Logout</button>
      </div>
    </div>
  </div>
</header>
