@import '../../shared/variables';

.header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  &:before, &:after {
    content: initial;
  }
}

.header-logo {
  font-size: $font-size-header;
  display: inline-block;
  cursor: pointer;
}

.btn-menu-mobile {
  //background-color: transparent;
  //color: $color-orange;
  //border: solid 2px $color-orange;
  //height: 38px;
  //display: inline-block;
  //text-transform: uppercase;
  //outline: none;
  //
  //&:active {
  //  outline: none;
  //}
  @include respond-to('small') {
    display: none;
  }
}
