<header>
  <div class="container">
    <div class="row header-row">
      <div>
        <button class='btn btn-menu-mobile btn btn-second' (click)="toggleMenu()">Menu</button>
        <div class="header-logo" [routerLink]="['/']">
          <img src="assets/pgs-logo.png" />
          Framapp
        </div>
      </div>
      <div>
        <button class="btn btn-second" [routerLink]="['./sign-in']"
                *ngIf="!isAuthenticated">Sign in</button>
        <span class=""
              *ngIf="isAuthenticated">Hi, {{loggedUser}}</span>
        <button class="btn btn-second" (click)="signOut()"
                *ngIf="isAuthenticated">Sign out</button>
      </div>
    </div>
  </div>
</header>
