@import '../../../styles/variables';

.sidebar-list-header{
  color: $color-orange-dark;
  font-size : $font-size-header;
  line-height: 28px;
  display: inline-block;
  vertical-align: middle;
}
.sidebar-list-icon{
  display: none;
  font-size: 28px;
  height: 28px;
  cursor: pointer;
  vertical-align: middle;
  .glyphicon{
    top: -2px;
  }
}
.list-group{
  &-categories{
    display: block;
    margin-top: 3px;

    &-item{
      &:hover{
        cursor: pointer;
        color: $color-orange;
      }
      &.is-active{
        color: $color-orange;
      }
    }
  }
}
