<div class="col-xs-12 component-wrapper">
  <div class="row">
    <button class="btn btn-add-new pull-right" (click)="addCategory()">Add new</button>
  </div>
  <div class="row category-table">
    <app-table (actionItemClickEE)="actionItemClick($event)" [tableData]="tableData"></app-table>
  </div>
  <div class="row">
    <button class="btn btn-add-new pull-right" (click)="addCategory()">Add new</button>
  </div>
</div>

<app-modal #removeModal
  [isYesNoModal]="true"
  [msg]="deleteCategoryName+'\r\nCzy na pewno chcesz usunąć kategorię?'"
  (modalCloseEE)="modalCloseEE($event)"
></app-modal>
