.Header{
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  .Header-logo{
    display: inline-block;
    height: 70px;
    img{
      height: inherit;
      width: auto;
    }
  }
  .btn{
    height: 42px;
  }
}
